/** define fonts for site **/
@font-face {
  font-family: gotno;
  src: url("../fonts/alternategotno2d.ttf");
}
@font-face {
  font-family: gotno;
  src: url("../fonts/alternategotno2d.otf");
}

@font-face {
  font-family: condlight;
  src: url("../fonts/OpenSans-CondLight.ttf");
}
@font-face {
  font-family: condlight;
  src: url("../fonts/OpenSans-CondLight.otf");
}
@font-face {
  font-family: opensans-rg;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: opensans-rg;
  src: url("../fonts/OpenSans-Regular.otf");
}
@font-face {
  font-family: museo300;
  src: url("../fonts/Museo300-Regular.otf");
}
