$black : #000000;
$light-black: #333333;
$red: #e51937;
$footer-bg:#231f20;
$footer-1:#aaa9a9;
$footer-2:#545353;
$menu-hover: #e51937;
$sub-menu-bg: #231f20;
$sub-menu: #e51937;
$sub-menu-hover: #fe4a64;
$white: #ffffff;
$grey-color: #9c9c9c;
$photo-bg: #eaeaea;
$photo-by: #a0a0a0;
$date: #868485;
$phone-no: #8e8e8e;
$mera_base_color: #42943b;
$mera_hover_color: #66cf5d;
$hdma_base_color: #A75A29;
$hdma_hover_color: #df7c35;
$oesa_base_color: #06539d;
$oesa_hover_color: #4fa0ed;